<h1>{{title}}</h1>
​
​
<form method="post" enctype='multipart/form-data' action='/upload'>
​
     <h1>username:</h1>
​
    <input name="username" placeholder="username"/>
    <input type="file" name='image' />
    <button type="submit">Submit</button>
</form>



 