
<h2>Signup</h2>

<form action='/signup' method='POST'>
  <input type="text" placeholder="Username" name="username"/>
  <input type="password" placeholder="Password" name="password"/>
  <button type="submit">Submit</button>
</form>