<!DOCTYPE html>
<html>

<body>

    <p>{{title}}</p>

    <form method="post" action="/form/signup">
        <label>username:</label>
        <input type="text" name="username" />
        <label>passeword:</label>
        <input type="text" name="passeword" />
        <button type="submit">send</button>
    </form>

</body>

</html>